body{
  margin: 0;
  padding: 0;
  background-color: black;
  /* background-color : linear-gradient(to bottom right, #80FF00, #FFA463,#FF3939 ); */
}

video{
  height: 100%;
  /* width: 100%; */
  z-index: -1;
  position: fixed;
  margin: 0;
  /* overflow-y: auto; */
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.head{
  /* background-color: linear-gradient(to bottom right, #80FF00, #FFA463,#FF3939 ); */
  color: white;
  text-align: center;
  font-family: "Imperial Script", cursive; 
  font-size: 72px;
  font-style: italic;
  z-index: 10;
}

.turn{
  color: white;
  text-align: center;
  font-size: 28px;
  margin: 10px;
  padding: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 15px;
    margin: auto;
    justify-content: center;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: black 15px 20px 20px 2px;
    border-radius: 50px 0px 50px 0px ;
    color: white;
    font-family: "Imperial Script", cursive; 
}

.cell:hover{
  box-shadow: inset black 9px 11px 20px 2px
}
#restart{
  font-size: 24px;
  background: transparent;
  border: none;
  color: white;
  position: relative;
}
#scoreboard{
  color: white;
  position: relative;
  top: -500px;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
