body{
  margin: 0;
  padding: 0;
  background-color: black;
}

video{
  height: 100%;
  /* width: 100%; */
  z-index: -1;
  position: fixed;
  margin: 0;
  /* overflow-y: auto; */
}
h1{
  color: white;
  text-align: center;
  /* font-weight: 500; */
}

.turn{
  color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 15px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background-color: #dddddd31;
    cursor: pointer;
}