*{
    padding: 0;
    margin: 0;
}
body{
    /* background-color: black; */
    font-size: 18px;
    /* color: white; */
    /* position: static;     */
}
header{
    background: linear-gradient(to bottom right, #80FF00, #84DD9D,#1CCA00 );
    height: 18vh;
    font-size: 72px;
    font-weight: 900;
    color: black;
    width: 100%;
    position: static;
    align-content: center;
    text-align: center;
}
main{
    /* margin: 5px;
    padding: 10px; */

}
main nav p {
    margin: 5px;
    padding: 10px;
    position: static;
}
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background: linear-gradient(to bottom right, #80FF00, #84DD9D,#1CCA00 );
    color: black;
    border-radius: 25px;
    font-weight: 900    ;
}

.navbar a.active {
    background: linear-gradient(to bottom right, #80FF00, #84DD9D,#1CCA00 );
    /* color: black; */
}

footer{
    position: bottom;
    width: 100%;
    height: 250px;
    background-color: rgb(66, 66, 66);
    margin-top: 15px;
}